.role-name {
	float:  left;
}

.role-info {
	float:  right;
}

.role-amount {
	float:	right;
	padding-right:  5px;
}

.role-selection {
	float: 	right;
}

.clear {
	clear: both;
}

#roles_div {
	width:  400px;
}